.hero {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 912px;
  z-index: 115;

}
.navbar {
  font-size: 12px;
  font-family: "Lato";
  color: rgb(254, 254, 255);
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.667;
  position: absolute;
  display: flex;
  width: 1600px;
  height: 50px;
}

.logo_nav {
  position: absolute;
  left: 343px;
  top: 8px;
}



.link {
  font-size: 12px;
  font-family: "Lato";
  color: rgb(254, 254, 255);
  font-style: italic;
  text-transform: uppercase;
}
.nav_links{
  position: absolute;
  line-height: 1.667;
  top: 19.498px;
  right: 320px;
}

.homepage {
  width: 1600px;
  height: 912px;
  background: url("./lamountains.png") ;
}





.Shape_1_copy_2 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 1214px;
  top: 38px;
  width: 66px;
  height: 1px;
  z-index: 111;
}
.Shape_1_copy {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 1081px;
  top: 38px;
  width: 84px;
  height: 1px;
  z-index: 110;
}





.navbar_sticky {
  overflow: hidden;
  background-color: rgb(254, 254, 255);
  position: sticky;
  left: 0px;
  top: 0px;
  width: 1600px;
  display: flex;
}

.logo_sticky {
  padding-top: 8px;
  position: sticky;
  width: 43px;
  height: 43px;
  left: 343px;
  margin: 5px;
}

.los_angeles_mountains_text {
  font-size: 22.84px;
  font-family: "Bebas Neue";
  color: rgb(77, 77, 77);
  text-transform: uppercase;
  line-height: 1.079;
  text-align: justify;
  position: sticky;
  left: 396px;
  top: 862.537px;
  margin-top: .3em;
  padding-top: 8px;
  align-items: flex-start;
  

}

.los_angeles {


}

.mountains {
  -webkit-transform:scale(1.1,1);
  
  
}

.br {
  display: block;
  position: sticky;
  margin-bottom: -.3em;
  padding: 0;
}

.link_sticky {
  position: sticky;
  font-size: 12px;
  font-family: "Lato";
  color: #414f6b;
  font-style: italic;
  text-transform: uppercase;
  
}

.nav_links_sticky {
  position: absolute;
  line-height: 1.667;
  top: 19.498px;
  right: 320px;
  
}

.page_one_A {
  width: 1600px;
  height: 912px;
  background: url("./Bg1.png");
}





.Shape_1_copy_2 {
  background-color: rgb(65, 79, 107);
  position: absolute;
  left: 1214px;
  top: 868px;
  width: 66px;
  height: 1px;
  z-index: 92;
}
.Shape_1_copy {
  background-color: rgb(65, 79, 107);
  position: absolute;
  left: 1081px;
  top: 868px;
  width: 84px;
  height: 1px;
  z-index: 91;
}









/* 

._1 {
  position: absolute;
  left: 0px;
  top: 899px;
  width: 1600px;
  height: 710px;
  z-index: 88;
}
.Text {
  position: absolute;
  left: 0px;
  top: -899px;
  width: 1600px;
  height: 2644px;
  z-index: 87;
}
._01_ {
  font-size: 11.264px;
  font-family: "Oswald";
  color: rgba(65, 79, 107, 0.502);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 12.0413317551377,0,0,12.0413317551377,0,0);
  -webkit-transform: matrix( 12.0413317551377,0,0,12.0413317551377,0,0);
  -ms-transform: matrix( 12.0413317551377,0,0,12.0413317551377,0,0);
  position: absolute;
  left: 395.747px;
  top: 1019.242px;
  z-index: 86;
}
._HISTORY {
  font-size: 11.264px;
  font-family: "Oswald";
  color: rgb(65, 79, 107);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
  -webkit-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
  -ms-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
  position: absolute;
  left: 484.208px;
  top: 1032.242px;
  z-index: 85;
}
.Lorem_ipsum_dolor_sit_amet__consectetur_adipisc {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(0, 0, 0);
  line-height: 1.5;
  text-align: left;
  position: absolute;
  left: 392.312px;
  top: 1111.34px;
  width: 809px;
  height: 62px;
  z-index: 84;
}
.Bg {
  position: absolute;
  left: 0px;
  top: -899px;
  width: 1600px;
  height: 2644px;
  z-index: 82;
}











.Carousel {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 2644px;
  z-index: 77;
}
.Circle_Nav {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 2644px;
  z-index: 76;
}
.Ellipse_1_copy_2 {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  opacity: 0.2;
  position: absolute;
  left: 809px;
  top: 1780px;
  width: 6px;
  height: 6px;
  z-index: 75;
}
.Ellipse_1_copy {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  opacity: 0.2;
  position: absolute;
  left: 797px;
  top: 1780px;
  width: 6px;
  height: 6px;
  z-index: 74;
}
.Ellipse_1 {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 785px;
  top: 1780px;
  width: 6px;
  height: 6px;
  z-index: 73;
}
.Thumbnails {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 2644px;
  z-index: 71;
}
.Group_10_copy {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 2644px;
  z-index: 70;
}
.Rectangle_23_copy {
  background-color: rgb(99, 118, 157);
  position: absolute;
  left: 805px;
  top: 1634px;
  width: 220px;
  height: 135px;
  z-index: 67;
}
.Group_8_copy {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 2644px;
  z-index: 65;
}
.Rectangle_23 {
  background-color: rgb(99, 118, 157);
  position: absolute;
  left: 1035px;
  top: 1634px;
  width: 220px;
  height: 135px;
  z-index: 62;
}
.Group_10 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 2644px;
  z-index: 60;
}
.Rectangle_23_copy {
  background-color: rgb(99, 118, 157);
  position: absolute;
  left: 345px;
  top: 1634px;
  width: 220px;
  height: 135px;
  z-index: 57;
}
.Group_8 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 2644px;
  z-index: 55;
}
.Rectangle_23 {
  background-color: rgb(99, 118, 157);
  position: absolute;
  left: 575px;
  top: 1634px;
  width: 220px;
  height: 135px;
  z-index: 52;
}
.Bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 2644px;
  z-index: 49;
}
.Image {
  opacity: 0.2;
  position: absolute;
  left: 0px;
  top: 1609px;
  width: 1600px;
  height: 195px;
  z-index: 48;
}
.Rectangle_24 {
  background-color: rgb(65, 79, 107);
  position: absolute;
  left: 0px;
  top: 1609px;
  width: 1600px;
  height: 195px;
  z-index: 44;
}











._2 {
  position: absolute;
  left: 0px;
  top: 1800px;
  width: 1600px;
  height: 770px;
  z-index: 41;
}
.Text {
  position: absolute;
  left: 0px;
  top: -1800px;
  width: 1600px;
  height: 2644px;
  z-index: 40;
}
._02_ {
  font-size: 11.264px;
  font-family: "Oswald";
  color: rgba(65, 79, 107, 0.502);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 12.0413317551377,0,0,12.0413317551377,0,0);
  -webkit-transform: matrix( 12.0413317551377,0,0,12.0413317551377,0,0);
  -ms-transform: matrix( 12.0413317551377,0,0,12.0413317551377,0,0);
  position: absolute;
  left: 439.543px;
  top: 1895.242px;
  z-index: 39;
}
.CLIMB {
  font-size: 11.264px;
  font-family: "Oswald";
  color: rgb(65, 79, 107);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
  -webkit-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
  -ms-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
  position: absolute;
  left: 538.675px;
  top: 1908.242px;
  z-index: 38;
}
.Tabs {
  position: absolute;
  left: 0px;
  top: -1800px;
  width: 1600px;
  height: 2644px;
  z-index: 35;
}
.MOUNTAIN_1 {
  font-size: 7px;
  font-family: "Oswald";
  color: rgb(65, 79, 107);
  font-weight: bold;
  text-decoration: underline;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
  -webkit-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
  -ms-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
  position: absolute;
  left: 371.232px;
  top: 2001.03px;
  z-index: 34;
}
.MOUNTAIN_2 {
  font-size: 7px;
  font-family: "Oswald";
  color: rgb(176, 180, 190);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
  -webkit-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
  -ms-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
  position: absolute;
  left: 515.126px;
  top: 1999.276px;
  z-index: 33;
}
.Rectangle_21 {
  background-color: rgb(176, 180, 190);
  position: absolute;
  left: 320px;
  top: 1978px;
  width: 140px;
  height: 62px;
  z-index: 32;
}
.Rectangle_20 {
  background-color: rgb(65, 79, 107);
  position: absolute;
  left: -5px;
  top: 1984px;
  width: 1658px;
  height: 40px;
  z-index: 31;
}
.Tab_Content {
  position: absolute;
  left: 0px;
  top: 224px;
  width: 1600px;
  height: 546px;
  z-index: 29;
}
.Tab_1 {
  position: absolute;
  left: 0px;
  top: -2024px;
  width: 1600px;
  height: 2644px;
  z-index: 28;
}
.Content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 2644px;
  z-index: 27;
}
.SCHEDULE {
  font-size: 11.264px;
  font-family: "Oswald";
  color: rgb(65, 79, 107);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
  -webkit-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
  -ms-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
  position: absolute;
  left: 433.823px;
  top: 2155.242px;
  z-index: 26;
}
._25_Nov_2016__Vestibulum_viverra_28_Nov_2016__Ve {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(0, 0, 0);
  line-height: 1.5;
  text-align: left;
  position: absolute;
  left: 391.078px;
  top: 2217.34px;
  width: 270px;
  height: 131px;
  z-index: 25;
}
.Rectangle_22 {
  background-color: rgb(255, 255, 255);
  opacity: 0.702;
  position: absolute;
  left: 351px;
  top: 2125px;
  width: 352px;
  height: 229px;
  z-index: 24;
}
.Tab_2 {
  position: absolute;
  left: 0px;
  top: -2024px;
  width: 1600px;
  height: 2644px;
  z-index: 20;
}
.Content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 2644px;
  z-index: 19;
}
.SCHEDULE {
  font-size: 11.264px;
  font-family: "Oswald";
  color: rgb(65, 79, 107);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
  -webkit-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
  -ms-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
  position: absolute;
  left: 433.823px;
  top: 2155.242px;
  z-index: 18;
}
._17_Nov_2016__Vestibulum_viverra__13_Dec_2016__V {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(0, 0, 0);
  line-height: 1.5;
  text-align: left;
  position: absolute;
  left: 391.078px;
  top: 2217.34px;
  width: 270px;
  height: 131px;
  z-index: 17;
}
.Rectangle_22 {
  background-color: rgb(255, 255, 255);
  opacity: 0.702;
  position: absolute;
  left: 351px;
  top: 2125px;
  width: 352px;
  height: 229px;
  z-index: 16;
}













.Footer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 2644px;
  z-index: 10;
}
.Logo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 2644px;
  z-index: 9;
}
.Layer_629 {
  background-image: url("Layer 629.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 2644px;
  z-index: 8;
}
.LOSANGELES_MOUNTAINS {
  font-size: 13.29px;
  font-family: "Bebas";
  color: rgb(99, 118, 157);
  text-transform: uppercase;
  line-height: 1.079;
  text-align: left;
  -moz-transform: matrix( 1.57940087361327,0,0,1.59346119587011,0,0);
  -webkit-transform: matrix( 1.57940087361327,0,0,1.59346119587011,0,0);
  -ms-transform: matrix( 1.57940087361327,0,0,1.59346119587011,0,0);
  position: absolute;
  left: 412.952px;
  top: 2607.537px;
  z-index: 6;
}
.COPYRIGHT_2016__ALL_RIGHTS_RESERVED_ {
  font-size: 12px;
  font-family: "Lato";
  color: rgb(99, 118, 157);
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.667;
  position: absolute;
  left: 1016.609px;
  top: 2594.498px;
  z-index: 4;
}
.Rectangle_19 {
  background-color: rgb(65, 79, 107);
  position: absolute;
  left: 0px;
  top: 2570px;
  width: 1600px;
  height: 74px;
  z-index: 3;
}










.Layer_626 {
  background-image: url("Layer 626.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 2644px;
  z-index: 1;
}











 */
